<?xml version="1.0" encoding="UTF-8"?>
<launch>
<include file="$(find projet)/launch/challenge.launch"></include>

<node name="cam_data" pkg="projet" type = "Cam_data_simu.py" /> 
<node name="las_data" pkg="projet" type = "Scan_data_simu.py"/> 
<node name="teleop" pkg="projet" type = "Teleop_simu.py"/> 

</launch>
